<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Filetree</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


  </head>

  <body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FileTree</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Theatre<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Gallery</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">View Profile</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
      

</nav>


    <h1>FileTree</h1>
    <h1><%= file%><h1>

    <p><a href="/submit">Upload a File</a></p>

	<video width="720" height="404" controls>
	  <source src="<%= file%>" type="video/mp4">
	  <source src=<%= file%> type="video/ogg">
	Your browser does not support the video tag.
	</video>
  </body>
</html>