<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>

    <link rel="stylesheet" type="text/css" href="/style.css">

    <script src="/lib/jquery.js"></script>
    <script src="/lib/underscore.js"></script>

  </head>

  <body>
    <h1>FileTree</h1>
    <a href="/submit">Upload a File</a>
    <a href="/gallery">See uploaded images</a>
  </body>
</html>