<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Filetree</title>

    <!-- <link rel="stylesheet" type="text/css" href="/style.css"> -->

    <!-- <script src="/lib/jquery.js"></script>
    <script src="/lib/underscore.js"></script> -->

  </head>

  <body>
    <h1>FileTree</h1>
    <h3>Register</h3>
    <div class="authform">
    <form action="/account/register" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" id="password"/>
        </div>
        <div>
            <input type="submit"/>
        </div>
    </form>
</div>
    <p>
      <a href="/account/login">Click here to Login</a>
    </p>
  </body>
</html>